@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/fonts/Norse-Bold.otf')
}

* {
    padding: 0;
    margin: 0;
}

/* Fill Screen */
html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: #fbfcfe;
}

/* 30-70 Split */
.sidebar, .content {
    height: 100%;
} 

.sidebar {
    flex: 0.35 1 0;
}

.content {
    flex: 0.65 1 0;
}

/* Side bar */
.sidebar > img {
    width: 100%;
    height: 100%;
}

/* Overlay */
.sidebar {
    position: relative;
}

.overlay {
    position: absolute;
    top: 21%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Norse Bold';
    font-size: 90px;

    background-color: rgba(0, 0, 0, 0.5);

    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.overlay > img {
    width: 20%;
    height: 20%;
}

/* Content */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    --padding-left: 50px;
    --padding-right: 200px;

    font-family: Arial, Helvetica, sans-serif;
}

/* Introduction */
.intro {
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);

    font-weight: bold;
    color: #1c1d22;
    font-size: 20px;
}

.intro > p:last-child {
    margin-top: 20px;
}

/* Form */
form {
    margin-top: 40px;
    margin-bottom: 20px;
}

/* Form Panel */
.form-panel {
    padding-left: var(--padding-left);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;

    background-color: #ffffff;
    box-shadow: 0 8px 24px rgba(0,0,0,0.12);
}

.form-panel > h3 {
    color: #2E3035;
}

/* Fields */
fieldset {
    display: flex;
    gap: 100px;
    border: none;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 15px;
}

.field > label {
    font-size: 12px;
    font-weight: bold;
    color: #494c52;
}

.field > input {
    /* appearance: none; */
    border-radius: 3px;
    border: 1px solid grey;
    padding: 5px;
    width: 200px;
}

/* Button Panel */
.button-panel {
    padding-left: var(--padding-left);
}

/* Login Panel */
.login-panel {
    padding-left: var(--padding-left);
}