@font-face {
    font-family: 'Norse Bold';
    src: url('./assets/fonts/Norse-Bold.otf')
}

* {
    padding: 0;
    margin: 0;
}

/* Fill Screen */
html, body {
    height: 100%;
}

body {
    display: flex;
}

/* 30-70 Split */
.sidebar, .content {
    height: 100%;
} 

.sidebar {
    flex: 0.3 1 0;
}

.content {
    flex: 0.7 1 0;
}

/* Side bar */
.sidebar > img {
    width: 100%;
    height: 100%;
}

/* Overlay */
.sidebar {
    position: relative;
}

.overlay {
    position: absolute;
    top: 21%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: 'Norse Bold';
    font-size: 90px;

    background-color: rgba(0, 0, 0, 0.5);

    padding: 10px;
}

.overlay > img {
    width: 20%;
    height: 20%;
}

/* Form Panel */
.form-panel {
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 30px;
}

/* Fields */
fieldset {
    display: flex;
    gap: 100px;
    border: none;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
